<p id="notice"><%= notice %></p>

<p>
  <strong><%= @post.user.name.upcase %></strong>
</p>

<p>
  <!-- <strong>Content:</strong> -->
  <%= @post.content %>
</p>

<%# if post.current_user %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Destroy', post_path, method: :delete, data: { confirm: 'Are you sure?' } %>
<%# end %>

