<p id="notice"><%= notice %></p>

<p>
  <strong><%= @post.user.name.upcase %></strong>
</p>

<p>
  <!-- <strong>Content:</strong> -->
  <%= @post.content %>
</p>

<% if @post.user == current_user %>
<strong><%= link_to 'Edit', edit_post_path(@post) %> </strong>|
<strong><%= link_to 'Delete', post_path, method: :delete, data: { confirm: 'Are you sure?' } %></strong>
<% end %>
<%# link_to_if(user_session_path?,'Edit',edit_post_path(@post) )   %>
